*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 71.4%;
    font-family: 'Inter', sans-serif;
}
body {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
}
/* blocks */
.card {
    margin: 9.5rem auto; /* to center the card */    
    background-color: hsl(0, 0%, 12%);
    width: 36rem;
    height: 53rem;
    text-align: center;
    border-radius: 1rem;
}
.card__figure {
    display: inline-block;
}
.card__img {
    width: 8rem;
    border-radius: 25rem;
    margin: 3rem;
}
.card__author {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-weight: 700;
}
.card__address {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin-top: 0.5rem;
    letter-spacing: 0.5px
}
.card__content {
    font-size: 1.3rem;
    color: hsl(0deg 0% 72.94%);
    margin: 2rem 0;
}

/* buttons */
.btn, 
.btn:link{
    text-decoration: none;
    display: inline-block;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%); 
    font-size: 1.2rem;
    padding: 1.3rem 9rem;
    margin: 0.6rem 0;
    cursor: pointer;
    border-radius: 0.7rem;
    width: 28rem;
}

.btn:active {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    transition: all 0.1s;    
}
/* special */
.attribution { 
    font-size: 1rem; 
    text-align: center;
    color: #fff; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}